<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Transitrace"
        tools:targetApi="31">
        <activity
            android:name=".trackingthebus"
            android:exported="false" />
        <activity
            android:name=".DriverTrackBusRequest"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".MainFrame"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DriverSelectedBusActivity"
            android:exported="false" />
        <activity
            android:name=".EmergencySosActivity"
            android:exported="false" />
        <activity
            android:name=".WelcomeActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">

        </activity>
        <activity
            android:name=".UserComplaintActivity"
            android:exported="false" />

        <activity
            android:name=".UserFeedback"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAiEvhHmhIdeKSVUF2DqUEVKdWi3LOOjIw" />

        <activity
            android:name=".UserSelectedBusListActivity"
            android:exported="false" />
        <activity
            android:name=".UserHomeActivity"
            android:exported="true" />
        <activity
            android:name=".UserSignupActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".DriverHomeActivity"
            android:exported="true" />
        <activity
            android:name=".DriverBusTrackSuccessActivity"
            android:exported="false" />
        <activity
            android:name=".UserBusMapActivity"
            android:exported="false" />
    </application>

</manifest>